// Mixins in here

.flexStuff(@flex-direction: row){
    display: flex;
    flex-direction: @flex-direction;
}

.awesomeButton(@backgrounColor: @eastern-blue){
    border-radius: 1rem;
    font-size: 1.8rem;
    color: white;
    background: @backgrounColor;
    text-align: center;
    padding: 1rem 0;
    // margin: 0 auto;
    // width: inherit;
}

.someMargin(){
    margin: 0 4rem;

    @media @mobile {
    margin: 0 2rem;
        
    }
}